{% extends 'dashboard/base.html' %}

{% load staticfiles %}
{% load url_replace %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}

<div class="row">
	<div class="col-sm-3 col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">Mes amis</div>

			<ul class="list-group">
				{% for friend in friends %}
					<li class="list-group-item">
						<a href="/dashboard/index?sender={{ friend.user.username }}" title="Voir les détails de {{ friend.user.username }}">
							{{ friend.user.username }}
						</a>
					</li>
				{% empty %}
					<li class="list-group-item">
						Aucun ami. :'(
					</li>
				{% endfor %}
			</ul>

			<div class="panel-body">
				<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
			</div>
		</div>
	</div>

	<div class="col-sm-9 col-md-10">
		<div class="row">
			<div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">Nouveau message</button></div>

			<div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ friend_requests.count }}</span></button></div>

			{% if sender %}
				<div class="col-sm-3 col-md-2">
					<a href="/dashboard/remove-friend/{{ sender }}" type="button" class="btn btn-danger" title="Supprimer {{ sender }} de mes amis">
						Supprimer cet ami
					</a>
				</div>

				<div class="col-sm-3 col-md-6">
					<ol class="breadcrumb">
						<li><a href="/dashboard/index">Tous les messages</a></li>
						<li  class="active">Messages de <strong>{{ sender }}</strong></li>
					</ul>
				</div>
			{% endif %}
		</div>

		<div class="row" id="id_messages_list_row">
			<div class="col-sm-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Pseudo</th>
							<th>Date</th>
							<th>Etat</th>
						</tr>
					</thead>

					<tbody>
						{% for message in list_messages %}
							{% if message.readed %}
								<tr class="danger open-message" data-id="{{ message.id }}">
							{% else %}
								<tr class="success open-message" data-id="{{ message.id }}">
							{% endif %}
								<td>{{ message.sender.user.username }}</td>
								<td>{{ message.date|date:"d/m/Y à H:i" }}</td>
								<td>
									{% if message.readed %}
										Lu
									{% else %}
										Non lu
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<nav class="pull-right">
					<ul class="pagination">
						{% if list_messages.has_previous %}
							<li>
								<a href="{% url_replace current_path sender list_messages.previous_page_number %}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}

						{% for page in paginator.page_range %}
							{% if page == list_messages.number %}
								<li class="active"><a href="{% url_replace current_path sender page %}">{{ page }}</a></li>
							{% else %}
								<li><a href="{% url_replace current_path sender page %}">{{ page }}</a></li>
							{% endif %}
						{% endfor %}

						{% if list_messages.has_next %}
							<li>
								<a href="{% url_replace current_path sender list_messages.next_page_number %}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="id_add_friend_modal">
	<form method="post" action="">
		{% csrf_token %}

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<h4 class="modal-title">Ajouter un ami</h4>
				</div>

				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th colspan="2">Pseudo</th>
							</tr>
						</thead>
	
						<tbody>
							{% for member in no_friends %}
								<tr>
									<td class="success">{{ member.user.username }}</td>
									<td><input type="checkbox" name="members" value="{{ member.id }}"></td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="2" class="warning">Aucun nouvel ami possible. :'(</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Envoyer une demande d'ajout" />
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
	<form method="post" action="">
		{% csrf_token %}

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<h4 class="modal-title">Demandes d'ajout en attente</h4>
				</div>

				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th colspan="2">Pseudo</th>
							</tr>
						</thead>
						
						<tbody>
							{% for mem in friend_requests %}
								<tr>
									<td class="success">{{ mem.user.username }}</td>
									<td><input type="checkbox" name="membersChoice" value="{{ mem.id }}"></td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="2" class="warning">Aucune demande en attente !</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<div class="modal-footer">
						<input type="submit" class="btn btn-danger" name="action" value="Refuser la/les demandes" />
						<input type="submit" class="btn btn-success" name="action" value="Accepter la/les demandes" />
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->

<div class="modal fade" id="id_new_message_modal">
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<h4 class="modal-title">Nouveau message</h4>
				</div>

				<div class="modal-body">
					{{ send_msg_form.as_p }}
				</div>

				<div class="modal-footer">
					<input type="submit" class="btn btn-success" name="send_msg" value="Envoyer un message" />
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->

<div class="modal fade in" id="id_read_message">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><!-- Message de x --></h4>
			</div>

			<div class="modal-body">
				<div class="modal-image"></div>
				<div class="modal-text"></div>
			</div>

			<div class="modal-footer">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	var messages = $('[class*="open-message"]');
	var id_read_message = $('#id_read_message');

	var i, message, target, id_message;

	for (i = 0, nb_messages = messages.length ; i < nb_messages ; i++) {
		message = $(messages[i]);

		id_message = parseInt(message.data('id'), 10);
		
		message.on('click', (function(id_message) {
			return function() {
				var self = $(this);

				$.get('/dashboard/read/' + id_message + '/', function(data) {
					var timeout;

					if (data.image == '/media/images/no/no.jpg')
						id_read_message.find('.modal-image').text('');
					else
						id_read_message.find('.modal-image').html('<img src="' + data.image + '" alt="" />');

					id_read_message.find('.modal-text').text(data.content);
					id_read_message.find('.modal-title').text('Message de ' + data.sender_username);
					id_read_message.modal();
					
					id_read_message.on('hide.bs.modal', function(e) {
						clearTimeout(timeout);
					});

					self.find(':nth-child(3)').text('Lu');
					self.attr('class', 'danger');

					timeout = setTimeout(function() {
						id_read_message.modal('hide');
					}, data.duration * 1000);
				}, 'json');
			};
		})(id_message));
	}
</script>

{%  endblock dashboard_inner %}
