{% extends 'base.html' %}
{% load staticfiles %}

{% block body_id %}id_index{% endblock body_id %}

{% block extrastyles %}<link href="{% static 'css/index.css' %}" rel="stylesheet">{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="jumbotron">
				<h2>Bienvenue sur CASIR Messenger</h2>
				<h3>CASIR Messenger, la messagerie éphémère !</h3>
				<p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#id_help" role="button">Comment ça marche ?</button></p>
			</div>
		</div>

		<div class="col-lg-offset-1 col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<form method="post" action ="">
						{% csrf_token %}

						{% for field in authentication_form %}
							<div class="form-group {%  if field.errors %}has-error{% endif %}">
								{%  if field.errors %}
									<label class="control-label">{{ field.label }} : {%  for error in field.errors %}{{ error }} {% endfor %}</label>
								{% endif %}

								{{ field }}
							</div>
						{% endfor %}

						<button type="submit" class="btn btn-primary btn-block btn-lg" name="login">Se connecter</button>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<h3>Nouveau sur CASIR Messenger</h3>

					<form method="post" action =".">
						{% csrf_token %}

						{% for field in registration_form %}
							<div class="form-group {%  if field.errors %}has-error{% endif %}">
								{%  if field.errors %}
									<label class="control-label">{{ field.label }} : {%  for error in field.errors %}{{ error }} {% endfor %}</label>
								{% endif %}

								{{ field }}
							</div>
						{% endfor %}

						<button type="submit" class="btn btn-primary btn-block btn-lg" name="register">S'inscrire</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade in" id="id_help">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Comment ça marche ?</h4>
			</div>

			<div class="modal-body">
				<p>
					CASIR Messenger vous permet de communiquer avec vos amis.
				</p>

				<p>
					Sélectionnez vos amis, attendez qu'ils vous acceptent. Une fois cela effectué,
					écrivez votre message, choisissez une durée d'affichage et joignez une image
					si vous le désirez. <strong>Voilà, c'est envoyé.</strong>
				</p>

				<p>
					Caractéristiques :
				</p>

				<ul>
					<li>Ajout d'amis ;</li>
					<li>Validation ou annulation de demandes ;</li>
					<li>Suppression d'amis ;</li>
					<li>Envoi de message ;</li>
					<li>Lecture des messages (de 1, 3 et 10 secondes) ;</li>
					<li>Joindre une image au message.</li>
				</ul>
			</div>

			<div class="modal-footer"></div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}
